.gsapCursor.blink {
    display: inline-block;
    animation: 1s blinkCursor step-end infinite;
}

.gsapCursor.hide {
    display: none;
}

@keyframes blinkCursor {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}